body {
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
    overflow-x : hidden;
    overflow-y : hidden;
    font-family: 'Oxygen', sans-serif;
}
.landing-page-container {
    height : 100vh;
    position : relative;
    background-image : url("../../images/Tortoise-Shell.svg");
    overflow-x : hidden;
    overflow-y : hidden;
}

.main-container {
    width : 100vw;
    position : relative;
    top : 50%;
    transform : translateY(-50%);
    background-repeat : no-repeat;
    background-size : cover;
    overflow-x : hidden;
}

.content-container {
    position : relative;
    width : 90vw;
    height : 100%;
    display : grid;
    grid-template-columns : 1fr 1fr;
    align-items : center;
    justify-content : center;
    left : 50%;
    transform : translateX(-50%);
}
.message {
    width : 100%;
    height : 60vh;
    background-color : white;
    display : flex;
    align-items : center;
    justify-content: center;
}
.heading {
padding : 10px;
display : block;
}
.more-information {
padding : 10px;
display : block;
line-height: 2em;
font-weight : 600;
}
.prototype-graph {
    height : 60vh;
    width : 100%;
    background-color : white;
    min-width : 250px;
    display : flex;
    align-items : center;
    justify-content : center;
}
.prototype-graph div {
    width : 70%;
    margin-right : auto;
    margin-left : auto;
    display : block;
    min-width : 250px;
    height : auto;
}
@media screen and (max-width: 800px) {
    .main-container {
        width : 100vw;
        position : relative;
        top : calc(40% + 25px);
        background-repeat : no-repeat;
        background-size : cover;
        overflow-x : hidden;
    }
    .content-container {
        position : relative;
        width : 90vw;
        height : 90vh;
        display : flex;
        align-items:flex-start;
        justify-content : center;
        flex-direction : column;
    }
    .prototype-graph {
        width : 100%;
        background-color : white;
        min-width : 200px;
        display : flex;
        align-items:flex-start;
        justify-content:center;
        height : auto;
        margin-bottom : 30px;
    }
    .prototype-graph div {
        min-width : 100px;
        max-width : 300px;
        margin-right : auto;
        margin-left : auto;
        display : block;
    }
    .message {
        width : 100%;
        height : auto;
        background-color : white;
        display : flex;
        align-items : center;
        justify-content: center;
    }

}