.registration-main-container {
    //height : calc(100vh);
    //background-color : rgb(197, 140, 243);
    background-image : url("../../images/Tortoise-Shell.svg");
    position : absolute;
    width : 100vw;
    height : 100%;
}
.registration-container {
    display : grid;
    grid-template-columns : 1fr 1fr;
    grid-template-rows : auto;
    position : relative;
    font-family: 'Oxygen', sans-serif;
    top : 50px;
}
.register-container {
    position : relative;
   text-align : center;
   display : flex;
   align-items : stretch;
   justify-content: center;
   flex-direction: column;
   .registration-item {
       display : flex;
       align-items : center;
       justify-content : center;
       height : 20vh;
       position : relative;
       color : black;
       .registration-input {
        margin-left : 10px;
        font-size : 25px;
        width : 50%;
        color : black;
       }
   }
 }
 input:focus {
    outline : none;
 }
 .validation-container {
    position : relative;
 }
 .center-content{
     position : relative;
     top : 50%;
     transform : translateY(-50%);
     width : 100%;
 }
 .error {
     display : block;
     color : rgb(0, 0, 0);
     font-size : 25px;
     font-weight : bold;
 }
 .userMessage {
     display : block;
     color : rgb(0, 0, 0);
     font-size : 25px;
     font-weight : bold;
     
 }
 .registration-label {
     color : black;
     font-size : 25px;
     font-weight : bold;
 }
 .inline {
    display : flex;
    height : 20vh;
    align-items : center;
    box-shadow : 0px 0px 3px black;
    justify-content: center;
    flex-direction : row;
    background-color : white;
}
 
 .inline p {
     display : inline-block;
     text-align : left;
     padding-left : 20px;
     width : calc(90% - 30px);
     font-size : 25px;
     margin-right : 10px;
     color : black;
     font-weight : bold;
     }
     .validation-icon {
        width : 30px;
        height : 30px;
        display : inline;
    }
    
 .register {
     background-color : rgb(87, 189, 69);
     padding : 5px 8px 5px 8px;
     border : none;
     color : black;
     border-radius : 5px;
     font-size : 25px;
 }
 .register:hover {
     background-color : rgb(62, 160, 45);
     cursor: pointer;
 }
 #spinner {
    width : 30px;
    height : 30px;
    display : block;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    margin-bottom : -15px;
    opacity : 0;
};
@media screen and (max-width: 800px) {
    .registration-container {
        display : grid;
        grid-template-columns : 1fr;
        grid-template-rows : auto;
        position : relative;
        height : auto;
       // background-color : rgb(197, 140, 243);
    }
    .register-container {
       text-align : center;
       display : grid;
       grid-template-columns : 1fr;
       grid-template-rows : auto;
       height : auto;
       .registration-item {
        height : auto;
        margin-left : 10px;
        margin-right : 10px;
        display : flex;
        align-items : center;
        justify-content: center;
        flex-direction: row;
        height : 100px;
        .register {
            background-color : rgb(87, 189, 69);
            padding : 5px 8px 5px 8px;
            border : none;
            color : black;
            border-radius : 5px;
        }
        .register:hover {
            background-color : rgb(62, 160, 45);
            cursor: pointer;
        }
        
       }
     }
     .validation-container {
        height : auto;
        display : flex;
        justify-content: center;
        width : 100%;
        background-image : url("../../images/Tortoise-Shell.svg");
       // background-color : rgb(197, 140, 243);
       overflow-x : hidden;
    }
    .inline {
        margin-left : 3%;
        margin-right : 3%;
        display : flex;
        align-items : center;
        box-shadow : 0px 0px 3px black;
        justify-content: center;
        flex-direction : row;
        margin-bottom : 10px;
        margin-top : 10px;
        background-color : white;
    }
    
    .inline p {
        display : inline-block;
        text-align : center;
        width : auto;
        font-size : 25px;
        font-weight : bold;
        }
        .validation-icon {
            width : 30px;
            height : 30px;
            display : inline;
            margin-bottom : 10px;
            margin-right : 10px;
        }
        .registration-input {
            font-size : 25px;
            width : 50%;
            color : black;
           }
}