.registration-container {
    display : grid;
    grid-template-columns : 1fr 1fr;
    grid-template-rows : auto;
    position : relative;
    margin-top : 60px;
}
.register-container {
    background-color : black;
   text-align : center;
   display : grid;
   grid-template-columns : 1fr;
   grid-template-rows : repeat(6, 12vh);
   height : 72vh;
   div {
       position : relative;
       top : 50%;
   }
   div label , button , input {
    position : relative;
    top : 50%;
    transform : translateY(-50%);
   }
 }
 input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-color : rgb(40,40,40);
    background-color : black;
    color : white;
    font-size : 20px;
 }
 input:focus {
    outline : none;
 }
 .validation-container {
     height : 72vh;
     background-color :rgb(214, 240, 240);
 }
 .center-content{
     position : relative;
     top : 50%;
     transform : translateY(-50%);
 }
 .error {
     display : block;
     color : rgb(243, 104, 104);
     position : relative;
     transform : translateY(-50%);
     margin : 5px;
 }
 .userMessage {
     display : block;
     color : rgb(116, 206, 116);
     position : relative;
     transform : translateY(-50%);
     margin : 0px;
 }
 .label {
     color : white;
 }
 .inline {
     display : flex;
     align-items : center;
 }
 
 .inline p {
     display : inline-block;
     text-align : left;
     padding-left : 20px;
     width : calc(90% - 30px);
     font-size : 18px;
     margin-right : 10px;
     font-weight : bold;
     }
     .validation-icon {
        width : 30px;
        height : 30px;
        display : inline;
    }
    
 .register {
     background-color : rgb(87, 189, 69);
     padding : 5px 15px 5px 15px;
     border : none;
     color : white;
     border-radius : 15px;
 }
 .register:hover {
     background-color : rgb(62, 160, 45);
     cursor: pointer;
 }
 #spinner {
    width : 30px;
    height : 30px;
    display : block;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    margin-bottom : -15px;
    opacity : 0;
};