.register-container {
    width : 60vw;
    background-color : black;
    opacity : 0.9;
    display : grid;
    grid-template-columns : 1fr;
    grid-template-rows : 11.6vh 11.6vh 11.6vh 11.6vh 11.6vh 11.6vh;
    margin-left : 20vw;
    margin-right : 20vw;
    text-align : center;
    position : absolute;
    top : 50%;
    transform : translateY(calc(-50% + 25px));
    height : 70vh;
    div {
        position : relative;
        top : 50%;
    }
 }
 .message-container {
    position : relative;
    transform : translateY(-50%);
 }
 .error {
     display : block;
     color : red;
     position : relative;
     transform : translateY(-50%);
     margin : 5px;
 }
 .userMessage {
     display : block;
     color : green;
     position : relative;
     transform : translateY(-50%);
     margin : 0px;
 }
 .label {
     color : white;
 }
 .login {
     background-color : rgb(168, 217, 240);
     padding : 5px;
     border : none;
     font-weight : bold;
 }