
.create-budget-container {
   width : 100vw;
   display : grid;
   grid-template-columns : 2fr 2fr 1fr;
   grid-template-rows : auto;
   font-family: 'Oxygen', sans-serif;
   grid-gap : 20px;
   height : 70vh;
}
.create-graph-container {
    min-width : 200px;
    width : 200px;
}
.create-budget-data-container {
    display : block;
    width : 100%;
    padding : 0px;
}
.create-budget-data {
    display : block;
    text-align : center;
    font-size : 25px;
    padding : 0px;
    margin : 5px;
    color : white;
}
.create-budget-message {
    color : white;
    font-weight : bold;
    font-size : 25px;
    text-align : center;
}
.envelopes {
   height : 100%;
   display : grid;
   grid-template-columns : 1fr;
   grid-template-rows : auto;
   box-shadow : 0px 0px 7px black; 
   background-color : white;
}
.create-budget-submit {
    border : none;
    padding : 5px 8px 5px 8px;
    background-color : rgb(19,138,219);
    text-align : center;
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 120px;
    font-weight : bolder;
    border-radius : 5px;
    box-shadow : 0px 0px 2px black;
    position : relative;
}
.create-budget-submit:hover {
    cursor : pointer;
    background-color : rgb(29, 97, 143);
}
.create-budget-result {
    color : rgb(17, 104, 56);
    font-weight : bold;
    font-size : 20px;
    text-align : center;
    border : none;
    margin-top : 10px;
}
.create-budget-hide {
display : none;
}
.form-label-container {
    display : flex;
    align-items : center;
    justify-content : center;
    box-shadow : 0px 0px 7px black;
    margin-left : 10px;
    background-color : white;
}
.label-container {
display : flex;
align-items : center;
padding : 0px;
height : 30px;
font-size : 20px;
box-shadow : 0px 0px 2px black;
padding : 2px;
}
.label-image {
    width : 20px;
    height : 20px;
    margin-left : 10%;
    background-color : white;
    border-radius : 5px;
    padding : 5px;
}
.label-image:hover {
    cursor : pointer;
    transform:scale(1.2);
    transition : 0.6s;
}
.envelope-label {
    color : black;
    text-align : center;
    margin-left : 10%;
    font-family: 'Oxygen', sans-serif;
    background-color : white;
    border-radius : 5px;
    padding : 2px;
}

.create-budget-graph {
    box-shadow : 0px 0px 5px black;
    margin-right : 10px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    background-color : white;
}
.create-graph-container {
    max-width : 200px;
    min-width : 100px;
    padding-bottom : 10px;
    margin-left : auto;
    margin-right : auto;
}
.create-budget-graph div {
    text-align : center;
    display : inline;
}
.pie-graph {
    border : none;
    padding : 5px 8px 5px 8px;
    box-shadow : 0px 0px 3px black;
    background-color : rgb(18,246,155);
    font-size : 20px;
    margin-left : 5px;
    margin-right : 5px;
    text-align : center;
}
.pie-graph:hover {
    cursor : pointer;
    background-color : rgb(15, 197, 124);
}
.doughnut-graph {
    border : none;
    padding : 5px 8px 5px 8px;
    box-shadow : 0px 0px 3px black;
    background-color : rgb(19, 172, 248);
    margin-left : 5px;
    margin-right : 5px;
    font-size : 20px;
    text-align : center;
}
.doughnut-graph:hover {
    cursor : pointer;
    background-color : rgb(19, 148, 207);
}
.envelope-input {
    display : block;
    background-color : rgb(255, 255, 255);
    border : 1px solid black;
    color : black;
    outline : none;
    margin-right : auto;
    margin-left : auto;
    width : 70%;
    margin-top : 20px;
    margin-bottom : 20px;
    font-size : 25px;
}
@media screen and (max-width: 800px) {
    .create-budget-container {
        width : 90vw;
        display : grid;
        grid-template-columns : 1fr;
        grid-template-rows : auto;
        font-family: 'Oxygen', sans-serif;
        grid-gap : 5px;
        height : auto;
       position : relative;
       left : 50%;
       transform : translateX(-50%);
     }
     .form-label-container {
        display : flex;
        align-items : center;
        justify-content : center;
        box-shadow : 0px 0px 7px black;
        margin-left : 0px;
        margin-right : 0px;
        margin-top : 20px;
        margin-bottom : 20px;
        width : 75vw;
        position : relative;
        left : 50%;
        transform : translateX(-50%);
    }
    .create-budget-graph {
        box-shadow : 0px 0px 5px black;
        margin-right : 0px;
        margin-right : 0px;
        display : flex;
        flex-direction : column;
        justify-content : center;
        align-items : center;
        margin-bottom : 20px;
        position : relative;
        left : 50%;
        width : 75vw;
        transform  : translateX(-50%);
        height : auto;
    }
    .create-budget-button-container {
        padding : 10px;
    }
    .create-graph-container {
        margin-left : 0px;
        margin-right : 0px;
        margin-bottom : 20px;
    }
    .label-container {
        display : flex;
        align-items : center;
        justify-content: center;
        padding : 0px;
        height : 30px;
        font-size : 20px;
        box-shadow : 0px 0px 2px black;
        padding : 2px;
        }
        .envelope-label {
            color : black;
            text-align : center;
            font-family: 'Oxygen', sans-serif;
            background-color : white;
            padding : 2px;
            border-radius : 5px;
            width : 70%;
        }
        .envelope-input {
        width : 70%;
        }
        .label-image {
            width : 20px;
            height : 20px;
            background-color : white;
            border-radius : 5px;
            padding : 5px;
        }
    .envelopes {
       height : auto;
       display : grid;
       grid-template-columns : 1fr;
       grid-template-rows : auto;
       box-shadow : 0px 0px 7px black; 
       margin-bottom : 20px;
    }
}

